---
type Colors = 'red' | 'pink' | 'rose' | 'amber'

interface Props {
    title: string;
    subtitle: string;
    level: string;
    color: Colors;
}

const {title, subtitle, level, color} = Astro.props;

const style: Record<Colors, string> = {
    red: 'bg-red-400/20 text-red-400',
    pink: 'bg-pink-400/20 text-pink-400',
    rose: 'bg-rose-400/20 text-rose-400',
    amber: 'bg-amber-500/20 text-amber-500',
}
---

<div class="flex flex-col justify-center items-center gap-2 p-4 bg-gray-900 border rounded-lg border-gray-700">
    <slot name="icon" />
    <b>{title}</b>
    <span class="text-gray-400 text-center text-sm md:text-base">{subtitle}</span>
    <span class={`px-3 py-0.5 text-xs font-semibold rounded-full ${style[color]}`}>{level}</span>
</div>